* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}
html {
  height: 100%;
}
body {
  background-image: url(images/main-bg-xs.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.backModal {
  background-image: url(images/main-bg-xs.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  color: white;
}
.text {
  color: white;
}

.menuC {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.menuNav {
  background-color: black;
  color: white;
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.menu1 {
  width: 100%;
  height: 90%;
  max-height: 90%;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuButton:hover {
  color: red;
  cursor: pointer;
}

.textMenu {
  font-size: 3vh;
}
.textMenu:hover {
  color: red;
  cursor: pointer;
}

.story {
  padding: 5px;
  width: 50%;
  display: flex;
  border: 1px solid red;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  color: white;
  flex-direction: column;
}

#nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1;
}

#nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  color: red !important;
}

.home {
  z-index: 0;
}
#main {
  position: relative;
}
.open {
  background-color: black;
  border: 1px solid red;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  margin-top: 25vh;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider {
  background: #df2329;
  width: 70%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.aside {
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 1rem;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 20%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 20%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 50px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.booking {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.booking-panel {
  background-color: #ffcc99;
  width: 40%;
  height: 10%;
  font-size: 4vh;
}

.darken-pseudo {
  position: relative;
}

.darken-pseudo:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.booking2 {
  background-color: #404040;
  position: absolute;
  width: 40%;
  height: 80%;
  bottom: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: solid 3px white;
}

.darken-with-text .booking2 {
  margin: 0;
  font-size: 2em;
  text-align: center;

  z-index: 1;
}
.darken-with-text .tables {
  z-index: 1;
}
.darken-with-text .login {
  z-index: 1;
  width: 40%;
}

button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.booking-in {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}
.pending {
  color: #e6b800 !important;
}
.booked {
  color: #df2329;
}

.select {
  color: #00e6e6;
}

.tables {
  margin-left: 2%;
  width: 40% !important;
  height: 80%;
  border: 3px solid white;
  background-color: #404040;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.tablez {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tableList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.footer {
  border-top: 4px solid red;
  height: 8vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.adminBookingFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.adminFooter {
  width: 100%;
  height: 90%;
  font-size: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableFooter {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.adminPage {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

.scrollbar {
  height: 45vh;
  margin-bottom: 25px;
  margin-left: 22px;
  margin-top: 40px;
  width: 100%;
  overflow-y: scroll;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 2;
}

.fb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.price {
  display: flex;
  justify-content: center;
  color: #e6b800;
}

.card {
  width: 10rem;
  background-color: black !important;
  border: 1px solid white !important;
  margin-bottom: 2vh;
}

.cardSelect {
  width: 10rem;
  background-color: black !important;
  border: 1px solid red !important;
  margin-bottom: 2vh;
}

.editCol2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formList {
  border: 1px solid white !important;
  background-color: black !important;
  color: white !important;
}
